services:
	phpAnalyzer: Nette\Xray\PhpAnalyzer(
		parser: @defaultAnalysisParser,
		pathRoutingParser: @pathRoutingParser,
	)
	- Nette\Xray\NeonAnalyzer
	- Nette\Xray\LatteAnalyzer
	- Nette\Xray\HtmlReport
	- Nette\Xray\Uploader
	- Nette\Xray\GitHubStars
	app: Nette\Xray\App
