parameters:
	level: 8

	paths:
		- src
		- bin/xray

	ignoreErrors:
		- identifier: property.onlyWritten
		  path: src/App.php
		- identifier: phpstanApi.instanceofAssumption
		  path: src/PhpAnalyzer.php
		- identifier: phpstanApi.method
		  path: src/PhpAnalyzer.php
		- identifier: variable.undefined
		  path: bin/xray
		  message: '#\$argv#'
